.errors {
    color: red
}

.event-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#event-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.event-input, .event-select{
    border-radius: 5px;
    border: solid grey 1px;
    width: 40%;
}

.update-event-select {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form > .event-div {
    border-bottom: solid gray;
    padding-bottom: 50px;
}

#event-button {
    width: 15%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 50px;
    background-color: red;
    border-radius: 10px;
    color: white;
}

#event-button:hover {
    cursor: pointer;
    background-color: rgb(196, 15, 15);
}

#money-sign {
    position: aboslute;
    margin-top: 5%;
}

#price {
    display: block;
    text-align: right;
    width: 10%
}

::placeholder {
    text-align: left;
    color: black;
}

.update-calendar {
    width: 190px;
}

* {
    font-family: 'Varela Round';
}

#event-form-textarea {
    height: 100px;
    width: 50%;
}

#capacity {
    width: 100px;
}

#event-name {
    width: auto;
}

@media screen and (max-width: 900px) {
    #event-form-textarea {
        width: 100%;
    }

    body {
        width: 100%;
    }

    #root {
        width: 100%;
    }
}
