#signup-button {
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

#signup-button:hover {
    cursor: pointer;
    background-color: rgb(196, 15, 15);
}

#disabled-signup-button {
    background-color: gray;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;

}

#sign-up-form {
    text-align: center;
    width: 500px;
}

#sign-up-form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-input {
    width: 300px;
}

.label {
    text-align: left;
}

* {
    font-family: 'Varela Round';
}
