#signup-button {
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#sign-up-form {
    text-align: center;
    width: 500px;
}

.signup-input {
    width: 300px;
}

form > label {
    text-align: left;
}
