#page-not-found {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#page-not-found > h1 {
    font-size: 2100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}
