#page-not-found {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 8%;
}

#page-not-found > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

#page-not-found > div > h1 {
    font-size: 31vw;
}



#steve {
    width: 17vw;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}
