#confirm {
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#deny {
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#delete-confirm {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#delete-confirm > button {
    height: 40px;
    margin-top: 10px;
}

* {
    font-family: 'Varela Round';
}
