.member-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    background-color: rgb(0, 0, 0, .5);
    color: white;
}

.member-status-div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    margin-right: 10px;
    height: 40px;
}

.status-select {
    margin-left: 20px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}

.member-name {
    padding-left: 10px;
}

.member-status {
    display: flex;
    flex-direction: row;
}

.member-edit {
    color:rgb(143, 186, 243);
    margin-right: 10px;
    cursor: pointer;
    height: 100%;
}

#member-component {
    width: 600px;
    background-color: rgb(0, 0, 0, .5);
}

.save-status-button {
    border: solid white 1px;
    background-color: rgb(0, 0, 0, .5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    margin-right: 10px;
}

.save-status-button:hover {
    background-color: white;
    color: black;
    border: solid black1px;
}
