* {
    text-decoration: none;
}

.card > img {
    width: 200px;
    height: 100%;
    padding-right: 2%;
}

#module {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggle {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 200%;
    color: gray;
}

.toggle {
    margin-right: 5%;
    text-decoration: none;
    color: gray;
}

.toggle-active {
    margin-right: 5%;
    color: green;
    text-decoration: underline;
}

.toggle:active {
    text-decoration: underline;
    color: green;
}

#list {
    width: 50%;
}

#pages {
    border-top: solid gray;
}

/* .gray-text {
    color: gray;
} */

.card-container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-top: solid gray;
    color: black;
}

.card-container:hover {
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 60%;
    height: 140px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.info-card > * {
    margin: 0px;
    height: 100%;
}

.info-card > div > p {
    font-size: 135%;
    margin: 0px;
    padding: 0px;
}

.info-card > div > h1 {
    font-size: 160%;
    margin: 0px;
    padding: 0px;
}

.info-card > div {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: auto;
}

* {
    font-family: 'Varela Round';
}

.toggle-subhead {
    height: 10%;
    width: 50%;
    font-size: 17px;
    justify-content: flex-start;
}

#pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activePage {
    color: gray;
    text-decoration: none;
    font-size: 24px;
}

.activePage:hover {
    text-decoration: none;
}

.notActive {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.group-about-text {
    font-size: 15px;
    overflow-wrap: break-word;
}

.navlink:hover {
    text-decoration: none;
}

#size-select {
    margin-left: 10px;
    cursor: pointer;
}

.results {
    margin-left: 5%;
}

.card > img {
    border-radius: 20px;
    padding-right: 0px;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .card {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .info-card {
        justify-content: center;
        align-items: center;
    }

    #info-name, #info-location, #info-about {
        padding-top: 10px;
    }

    .info-card > div {
        padding-top: 10px;
    }

    #module {
        width: 100%;
    }

    #toggle, .toggle-subhead, #list {
        width: 100%;
    }

    .card > img {
        width: 70%;
    }

}
