.errors {
    color: red
}

#group-form-textarea {
    height: 100px;
    width: 60%;
    border-radius: 10px;
}

.group-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#group-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.group-input {
    border-radius: 5px;
    border: solid grey 1px;
    width: 40%;
}

.group-form-select {
    width: 13%;
    margin-bottom: 5%;
}

.group-div {
    border-bottom: solid gray;
    padding-bottom: 5%;
}

#group-button {
    width: 15%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 50px;
    background-color: red;
    border-radius: 10px;
    color: white;
}

#group-button:hover {
    cursor: pointer;
    background-color: rgb(196, 15, 15);
}

* {
    font-family: 'Varela Round';
}

#group-h2 {
    border-bottom: solid gray;
}
