#results {
  position: absolute;
  background-color: white;
  border: solid gray 1px;
}

#results > p {
  padding: 0px;
  margin: 0px;
  border-top: solid gray 1px;
}

#venue-form-container {
  width: 600px;
  height: 700px;
  display: flex;
  justify-content: center;
}
