#footer {
    height: 400px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

#technologies {
    display: flex;
    justify-content: center;
    width: 100%;
}

#footer-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
    margin-top: 50px;
}

.footer-link  {
    width: 6%;
    cursor: pointer;
}

.footer-link > img {
    width: 100%;
}

#sqlite-link {
    width: 10%;
}

#sqlite-img {
    height: 80%;
    width: 120%;
}

body {
    margin: 0px;
}

#analytics-img {
    height: 80%;
    width: 130%;
}

@media screen and (max-width: 900px) {
    #footer-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    #footer-images > * {
        margin-bottom: 50px;
    }

    .footer-link {
        display: flex;
        justify-content: center;
        width: 25%;
    }

    #analytics-img, #sqlite-img {
        width: 500%;
        height: 100%;
        justify-self: center;
    }

    #root {
        display: flex;
        flex-direction: column;
    }

    body {
        display: flex;
    }

    html {
        display: flex;
    }

}
