#footer {
    height: 260px;
    margin-top: 0px;
}

#technologies {
    display: flex;
    justify-content: center;
}

#footer-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-link  {
    width: 7%;
    cursor: pointer;
}

.footer-link > img {
    width: 100%;
}

#sqlite-link {
    width: 10%;
}

#sqlite-img {
    height: 80%;
    width: 120%;
}

body {
    margin: 0px;
}
