#organizerButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 30px;
    margin-bottom: 0px;
}

#top-card {
    display: flex;
    flex-direction: row;
    width: 100%
}

#top-right-card {
    margin-left: 5%;
    width: 60%;
}

#group-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#group-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 70%;
}

#group-image {
    width: 500px;
    border-radius: 10px;
    padding-right: 0px;
}

.more-info {
    width: auto;
    padding: 15px;
}

#top-right-card-info {
    font-size: 13px;
}

* {
    font-family: 'Varela Round';
}

#group-info-div {
    width: 100%;
}

.group-buttons {
    background-color: gray;
    color: white;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px;
}

#group-create-event-button {
    width: 100px;
}

@media screen and (max-width: 900px) {
    #top-card {
        flex-direction: column;
    }

    #group-info-container {
        width: 80%;
    }

    #group-events-card-inner-info {
        flex-direction: column;
    }

    #group-events-card-inner-info > img {
        width: 100%;
    }

    #organizerButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 450px;
    }

    #group-info-container, #group-info-div {
        width: 100%;
    }

    #top-card > img {
        width: 100%;
    }

    .group-buttons {
        width: 130px;
        height: 40px;
        padding: 0px;
        margin: 0px;
        font-size: 18px;
    }

    #group-create-event-button {
        width: 150px;
    }

    #top-right-card {
        width: 100%;
        margin: 0px;
    }

    .more-info {
        padding: 0px;
        margin: 0px;
    }

    #group-events-card-info, .group-events-about {
        padding-left: 15px;
        padding-right: 15px;
    }

    .group-events-about {
        width: 95%;
    }

}
