#landing-about-div {
    display: flex;
    flex-direction: column;
    font-size: 20%px;
}

#landing-inner-div {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}

#landing-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-outer-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: solid gray 1px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.disabled-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#join {
    border: solid gray 1px;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
}

#join:hover {
    color: white;
    background-color: gray;
    cursor: pointer;
}

.link {
    text-decoration: underline;
}

.link-cards:hover {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: gray;
}

.link-cards > img {
    border-radius: 125px;
}


#landing-cards {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#how-legup-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.disabled-link:hover, .disabled-link:active, .disabled-link {
    text-decoration: none;
    cursor: default;
    color: gray;
}

#landing-main {
    width: 400px;
    height: 200px;
}

.background-img {
    z-index: auto;
}
