.errors {
    color: red
}

.event-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 70px;
}

#event-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.event-input{
    border-radius: 5px;
    border: solid grey 1px;
    width: 40%;
}

.event-select {
    width: 13%;
    margin-bottom: 5%;
}

form > .event-div {
    border-bottom: solid gray;
    padding-bottom: 20px;
}

#event-button {
    width: 15%;
    height: 20px;
    margin-top: 5%;
    background-color: red;
    color: white;
}

#money-sign {
    position: aboslute;
    margin-top: 5%;
}

#price {
    display: block;
    text-align: right;
    width: 10%
}

::placeholder {
    text-align: left;
    color: black;
}

.calendar {
    width: 190px;
    border-radius: 5px;
    border: solid 1px;
}

* {
    font-family: 'Varela Round';
}

.event-select-choose {
    width: 110px;
    border-radius: 5px;
}

#event-capacity {
    width: 100px;
}

#event-form-about {
    height: 100px;
}
