.errors {
    color: red
}

.group-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#group-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.group-input {
    border-radius: 5px;
    border: solid grey 1px;
    width: 40%;
}

.group-form-select {
    width: 13%;
    margin-bottom: 5%;
}

.group-div {
    border-bottom: solid gray;
    padding-bottom: 5%;
}

#group-button {
    width: 15%;
    height: 20px;
    margin-top: 5%;
    background-color: red;
    color: white;
}

* {
    font-family: 'Varela Round';
}

.group-h2 {
    border-bottom: solid gray;
}
