

#location-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#position {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  color: rgb(98, 197, 230);
}

#position:hover {
  color: rgb(140, 207, 229);
}

#position > img {
  padding-left: 10px;

}

#location-div > img:hover {
  cursor: pointer;
}

#event-venue-component {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
  background-color: rgb(37, 37, 37);
}





.event-location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
}

.event-location-info > p {
  padding-left: 5px;
}

#map1 {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  /* #venue-form-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 50px
  } */
  /* #venue-form {
    width: 100%;
    height: 600px;
    border: solid black;
    padding: 10px;
  } */

  /* #location-div {
    flex-direction: column;
    align-items: flex-start;
  } */

  /* #position {
    padding: 5px 0px 0px ;
  } */

  /* #map {
    width: 100%;
    height: 100%;
  } */

}

@media screen and (max-width: 365px) {


}
