#nav {
    display: flex;
    flex-direction: row;
    border-bottom: solid gray;
    justify-content: space-between;
}

#login-signup {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: flex-start;
    align-self: flex-end;
    font-size: 15px;
}

#home {
    text-align: center;
    display: flex;
    width: 200px;
    font-size: 40px;
}

#login {
    border-radius: 10px;
}

.profile-dropdown {
    position: absolute;
    top: 30px;
    right: 30px;
    border: solid black;
}
