#nav {
    display: flex;
    flex-direction: row;
    border-bottom: solid gray;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#login-signup {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: flex-start;
    align-self: flex-end;
    font-size: 15px;
}

#login-signup > * {
    padding-right: 20px;
}

#home {
    text-align: center;
    display: flex;
    width: 200px;
    font-size: 40px;
}

#login {
    border-radius: 10px;
}

#logout-div {
    border-top: solid black;
}

.profile-dropdown {
    position: absolute;
    top: 59px;
    right: 30px;
    border: solid black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    background-color: gray;
}

.profile-info {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

.profile-dropdown > a:hover {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

#profile-new-group {
    display: flex;
    flex-direction: row;
}

#start-new-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}

* {
    font-family: 'Varela Round';
}

#profile-img {
    cursor: pointer;
}
