

#log-in {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-input {
    width: 290px;
}

.login-button {
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.demo-button {
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.disabled {
    background-color: gray;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.errors {
    color: red
}

* {
    font-family: 'Varela Round';
}
